{% load i18n staticfiles %}
    {{pages_html|safe}}
    <div id="page-log" class="sub-page" style="display: none;">
        <table id="log-table" class="table table-condensed table-hover tablesorter tablesorter-default" width="100%">
            <colgroup>
                <col style="width: 180px;">
                <col style="width: 60px;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Level</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div> <!-- end page-log -->
    {% for panel in panel_list %}
        <div class="side-menu  {% if panel.position == 1 %}left{% elif panel.position == 2 %}right{% endif %}">
            <ul class="status-panel">
                <li>{{ panel.title }}</li>
                {% for item in panel.control_panel.items.all %}
                    {% if item.pk in visible_control_element_list %}
                        {% include "status_element.html" with item=item %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% include "side_menus.html" %}

    {% include "modals.html" %}
