Robot selector :<br>
<div class="dropdown col-md-2" id="{{ base.pk }}">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ base.name }}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        {% for Element in visible_robot_element_list %}
            <li class="dropdown-base" id="{{ Element.pk }}"><a href="#">{{ Element.name }}</a></li>
        {% endfor %}
    </ul>
 </div>
{% for Elements in visible_robot_element_list %}
    <br>
{% endfor %}
<br>
<br>