Robot selector for {{ base.name }}:<br>
<div class="dropdown col-md-2" id="{{ base.pk }}">
    <button class="btn btn-primary dropdown-toggle dropdown-robot-btn" type="button" data-toggle="dropdown">
        <span class="ui-dropdown-robot-bnt">------- </span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        {% for Element in visible_robot_element_list %}
            <li class="dropdown-base" id="{{ Element.pk }}">
                <a href="javascript:;">{{ Element.name }} </a>
            </li>
        {% endfor %}
    </ul>
 </div>
{% for Elements in visible_robot_element_list %}
    <br>
{% endfor %}
<br>
<br>