{% load i18n staticfiles %}
    {% if view_title == "laborem" %}
        {% for page in page_list %}
            <li class="hidden"><a href="#{{page.link_title}}">{{page.title}}</a></li>
        {% endfor %}
        <li><a href="#" style="color: lightcoral; font-size: 16px;" class="btn-previous btn-next-previous">Précédent <span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li><a href="#" style="color: lightgreen; font-size: 16px;" class="btn-next btn-next-previous"><span class="glyphicon glyphicon-chevron-right"></span> Suivant</a></li>
    {% else %}
        <li><a href="#plugs"><span class="glyphicon glyphicon-cog"></span> Configuration du circuit</a></li>
        <li class="dropdown"><!-- Experiences -->
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-blackboard"></span> Acquisition & Analyse <strong class="caret"></strong></a>
            <ul class="dropdown-menu" >
                {% for experience in visible_experience_list %}
                    <li>
                        <a href="#{{experience.page.link_title}}">{{experience.page.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
