{% extends "view.html" %}
{% load i18n staticfiles %}

{% block head_css %}
    {% include "css.html" %}
{% endblock %}

{% block footer_left %}
    {% include "footer.html" %}
{% endblock %}

{% block navbar_logo %}
    {% include "logo.html" %}
{% endblock %}

{% block title %}{{ view_title }} - PyScada-Laborem Control Center{% endblock %}

{% block top_menu_left %}
    {% include "top_menu_left.html" %}
{% endblock %}

{% block top_menu_right %}
    {% include "top_menu_right.html" %}
{% endblock %}

{% block top_area %}
    {% include "top_area.html" %}
{% endblock %}

{% block content %}
    {% include "content.html" %}
{% endblock %}

{% block include_bottom %}
    {% include "js.html" %}
{% endblock %}

{% block script_bottom %}
    {% include "script_bottom.html" %}
{% endblock %}
