[Unit]
Description=LaboREM Camera
After=network.target

[Service]
Type=forking
PIDFile=/tmp/laborem_camera.pid
User=pyscada
Group=pyscada
ExecStart=/usr/local/bin/mjpg_streamer -i "input_uvc.so -d /dev/video0" -o "output_file.so -s 1 -c /var/www/pyscada/http/static/pyscada/laborem/scripts/change_filename_camera.sh"
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target


