
.img-plug {
    width: 100%;
}

.message-laborem {
    color: red;
    padding-top: 15px;
    text-align: center;
}

.message-laborem h2 {
    margin-bottom: 40px;
}

.side-menu.top {
	top: -100px;
    text-align: center;
}

.summary.side-menu ul li,{
	list-style: circle !important;
	list-style-position:inside !important;
	padding-left: 15px !important;
}

.summary .status-panel li {
	list-style: circle !important;
    list-style-position:inside !important;
    padding-left: 15px !important;
}